@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

#mc4wp-form-1 {
    margin-top: 1rem;
}
#mc4wp-form-1 input[type="email"]{
    width: 100%;
}

#mc4wp-form-1 input[type="submit"]{
    width: 100%!important;
    display: block;
}


@media (min-width: 576px) {
    #mc4wp-form-1 input[type="email"]{
        width: calc(100% - 125px);
    }

    #mc4wp-form-1 input[type="submit"]{
        width: 125px;
    }

}

.mc4wp-alert {
    margin-top: 1rem;
}

.mc4wp-alert p {
    color: var(--pricolor1);
}

